blockquote {
  p {
    margin: 0;
    padding: 0;
  }
  padding: $spacer;
  margin: $spacer 0;

  background-position: ($spacer/2) $spacer;

  border-radius: 6px;

  background-clip: padding-box;
  border: 1px;
  border-style: solid;
  line-height: 1.5rem;
  margin-top: 18px;
  margin-bottom: 18px;
  position: relative;
  padding-left: 3em;
  background-repeat: no-repeat;
  background-size: 2em;

  & p:before {
    font-weight: 900;
    display: block;
  }

  &.tip {
    background-image: url(images/svg/tip.svg);
    border-color: #F5A623;
    background-color: #fdf7e8;

    & p:before {
      content: "Tip";
    }
  }

  &.note {
    background-image: url(images/svg/note.svg);
    border-color: #7ED321;
    background-color: #e7f6f0;

    & p:before {
      content: "Note";
    }
  }
  &.warning {
    background-image: url(images/svg/warning.svg);
    border-color: #F50057;
    background-color: rgb(255, 232, 240);

    & p:before {
      content: "Warning";
    }
  }
}
